{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-username">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-username">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-username">
                <input class="form-control" name="re-enter password" placeholder="re-enter Password" type="password"/>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Log In</button>
            </div>
                    
        </fieldset>
    </form>
{% endblock %}